 body {
            overflow: hidden;
        }

        .page {
            position: absolute;
            padding: 12px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border: none !important;
}


#main {
    position: absolute;
    background-color: gray;
    margin-bottom: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-transition-duration: .25s;
    -webkit-transform: translate3d(0, 0, 0);
}

.menu {
    text-align: center;
    margin: 0;
    background-color: #303030;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 140px;
    z-index: -1;
}

.menuButton {
    vertical-align:middle;
    display: table-cell;
    margin-left: auto;
    margin-right: auto; 
    height: 100px;
    width: 130px;
   
    
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #3C3B3B;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #2A2A2A  
}

.menuButton :active {
    background-color: #252525;
    
}
.menu img {
   display: inline-block ;
   width: 40px;
}
.ui-input-search {
    position: absolute !important;
    width: 100%;
    bottom: 0px;
}
.ui-body-c {
    background-color: #303030 !important;
    border:1px solid #5C5C5C !important;
  
}

.ui-shadow-inset {
    -webkit-box-shadow: inset 0 3px 17px rgba(41, 41, 41, 0.29) !important;
    box-shadow: inset 0 6px 10px rgba(21, 21, 21, 0.29) !important;
}

/*#logo {
    position: absolute;
    bottom: 0px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DC561D), color-stop(1, #D04016));
    width: 100%;
    height: 50px;
    z-index:2;
    
}*/

.logo {
        margin-bottom: 0px;
	position:absolute;
        z-index:2;
	bottom:0; left:0;
	width:100%;
	height: 55px;
	background-color:#222;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #D04016), color-stop(0.5, #DC561D));
	padding:0;
        -webkit-box-shadow: 0px 7px 8px rgba(34, 34, 34, 1);
	
}
.ui-footer {
    width: 100%;
    height: 55px;
    position: absolute !important;
    bottom: 0;
}

#events {
    position: relative;
    bottom: 100px;
}

.goesUp {
    -webkit-transition-duration: .25s;
    -webkit-transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;
}

.wrapperStyle {
    
	position:absolute; z-index:1;
	top:0px; bottom:40px; left:0;
	width:100%;
	background:#272727;
	overflow:auto;
}

.scroller2 {
    position: absolute;
    z-index: 1;
    width: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.scroller2 ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

.scroller2 li {
        width: 100%;
        left: 0%;
        position: relative;
        padding-left: 0px;
        margin-bottom: 0px;
	height:55px;
	border-bottom:1px solid #393939;
	border-top:1px solid #393939;
	background-color:#272727;
        font-size: 10px;
}
.scroller2 .ui-link-inherit {
        font-size: 12px;
        color: graytext;
        font-weight: normal;
}
.scroller2 .ui-link-inherit div {
        width: 90%;
}


.scroller2 .who {
    font-style: italic;
    font-weight: bold;
}

.scroller2 .ui-li .ui-btn-text a.ui-link-inherit { /* This are the added classes from jQuery mobile */
    white-space: normal !important;                /* And this enables more than one line */
}

.scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

.scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

.scroller li {
        left: 0%;
        position: relative;
	padding: 10px;
        padding-left: 0px;
	height:55px;
	border-bottom:1px solid #393939;
	border-top:1px solid #393939;
	background-color:#272727;
	font-size:14px;
}

.scroller li div.event {
    position: relative;
    height:55px;
    -webkit-transition-duration: .25s;
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 1;
    background-color:#272727;
}

.scroller li div.eventinfo {
    position: absolute;
    top: 13%;
    width: 100%;
    height:55px;
}

.scroller li h2 {
    position: absolute;
    left: 85px;
    bottom: 10px;
    color: #D0D0D0;
    font-size: 1.2em;
}

.scroller div.eventinfo h2 {
    position: absolute;
    left: 15px;
    top: 27%;
    color: #D0D0D0;
}

.scroller div.eventinfo div.whosin {
    position: absolute;
    width: 70%;
    height:100%;
    margin-left: 85px;
}

.scroller div.eventinfo table {
    border-spacing: 5px;
    height:100%;
}

.scroller div.eventinfo table img.avain{
    position: relative;
    bottom: 0px;
    margin-top: 14px;
    margin-left: 0px;
    margin-right: 0px;
    height: 30px;
    -webkit-border-radius: 10px 10px 10px 10px;
}



.scroller li h1 {
    position: absolute;
    left: 99px;
    bottom: -0px;
    color: #828282;
    font-size: 0.8em;
}
.scroller li .time {
    position: absolute;
    right: 28px;
    top: -7px;
    font-size: 1em;
    color: #828282;
}
.scroller li img.location {
    position: absolute;
    left: 82px;
    bottom: 5px;
}

.scroller li img.avatar {
    position: absolute;
    left: 15px;
    bottom: 0px;
    height: 55px;
    
    -webkit-border-radius: 10px 10px 10px 10px;
}
.scroller li img.time {
    position: absolute;
    right: 5px;
    top: -8px;
    
}

#fader {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 20%;
    background: -webkit-linear-gradient(top, rgba(39,39,39,0.90) 10%,rgba(39,39,39,0) 100%);
    z-index: 4;
    pointer-events: none;
    
}

.ui-mobile .ui-page {
min-height: 10px;
}

#searchcontain {
    position: absolute;
    bottom: 0px;
    left: 15px;
    z-index: -1;
    width: 90%;
    margin-bottom: 5px;
    background: #303030;
   
}
#searchinput {
    background: #303030;
   -webkit-box-shadow: inset 0px 13px 20px -17px black;
}

.ui-body-c, .ui-overlay-c, .ui-btn-up-c {
    text-shadow: none !important; 
}

#searchwrap {
    background: #303030;
    border-color: #5C5C5C;
    -webkit-box-shadow: inset 0px 13px 20px -17px black;
}

#loozeItbtn.ui-btn { 
          height: 30px;
          width: 85px;
          font-size: 9px; 
         
}

#loozeItbtn.ui-btn-up-b {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #D04016), color-stop(0.5, #DC561D)) !important;
}

.loozedownbtn .ui-btn-inline {
    margin: 0px !important;
}
.loozedownbtn .ui-btn { 
          height: 30px;
          width: 60px;
          font-size: 9px; 
         
}
.loozedownbtn .ui-btn-inner {
    padding-bottom: 30px !important;
    font-size: 10px !important;
    
}

.loozedownbtn .ui-btn-up-a {
    background-image:  -webkit-linear-gradient(top, rgba(128,128,128,1) 0%,rgba(96,96,96,1) 100%)!important;
}

.loozedownbtn .ui-btn-text {
    position: absolute !important;
    left: 0px;
}
.logo_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    height: 35px;
    margin-top: 13px;
}

.whosin {
    left: 10px;
}

.scroller div.eventinfo a {
    position: absolute;
    width: 50px;
    left: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.scroller div.eventinfo a .ui-btn-text {
        z-index: 0;
        margin-right: 0px;
        position: absolute;
        font-size: 12px;
        top: 6px;
        left: 0.1px;
        right: 3px;
        color: gray;
}

.ui-body-a {
   background: -webkit-linear-gradient(top, rgba(25,25,25,1) 0%,rgba(0,0,0,1) 100%)!important;
   color: rgb(77, 77, 77) !important;
}
.inputloze .lozeabove {
    width: 98%;
    position: absolute;
    top: 5px;
    z-index: 4;
    height: 55px;
    margin: 3px;
}

.inputloze .lozedowna {
    width: 98%;
    position: absolute;
    top: 45px;
    z-index: 0;
    height: 55px;
    margin: 4px;
}

.inputloze .lozedownb {
    width: 98%;
    position: absolute;
    top: 85px;
    z-index: 0;
    height: 55px;
    margin: 4px;
}

.inputloze .lozedownc {
    width: 98%;
    position: absolute;
    top: 125px;
    z-index: 0;
    height: 55px;
    margin: 4px;
}
.inputloze .loozedownbtn {
   width: 98%;
    position: absolute;
    top: 180px;
    z-index: 0;
    height: 55px;
    margin: 4px; 
}

#thelist2 li .ui-btn-up-a {
    color: gray ;
    margin-left: 10px;
}

#thelist2 {
    margin: 0px;
    margin-right: 0px;
}
.scroller .ui-btn { 
          height: 30px;
          width: 80px;
          font-size: 9px; 
          position: absolute;
          left: 1270px;
          top: 20px
}

#loginPage h3 {
    color: white;
    margin-bottom: 0px;
}

#signUpPage h3, label {
    color: white;
    margin-bottom: 0px;
}

.profilePic {
    position: absolute;
    top: 50px;
    left: 20px;
    border: 1px;
    width: 100%;
}
.profilePic img {
    width: 100px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.profilePic p {
    position: absolute;
    left:120px;
    bottom: 20px;
    color: #D0D0D0;
    font-size: 1em;
    padding-right: 20px;
}

#userName {
    position: absolute;
    top: 180px;
    width: 90%;
    padding: 20px;
}
#userName p {
    position: relative;
    left:20px;
    bottom: 0px;
    color: #D0D0D0;
    font-size: 1em;
    padding-right: 20px;
}

#userName .ui-body-c {
    color: rgb(162, 162, 162) !important;
}

.ui-icon-facebook {
	background-image: url("facebook.jpg");
}

.splash {
     float: left;
    height: 100%;
    position: relative;
    width: 100%;
    line-height:120px;
    text-align:center;
    background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FF6422), color-stop(1, #451508));
    
}

.logo_image_splash {
    position: relative;
    top:38%;
    left:-2%;
    vertical-align: middle;
    }
    
.box {
    position: relative;
    height: 100px;
    width: 100%;
    
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #3C3B3B;
}

#myLooze .time {
    position:relative;
    left: 10px;
    color: white;
}

.schedEvent {
    position: absolute;
    width: 240px;
    top:5px;
    border: dashed;
    border-color: gray;
    border-width: 1px;
    -webkit-border-radius: 10px 10px 10px 10px;
    left: 30px;
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #D2D2D2), color-stop(1, #696969));
}
.schedEvent .avatar {
    position: relative;
    width: 55px;
    left: 1px;
    top: 2px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.schedEvent h2 {
    position: absolute;
   font-size: 1.1em;
    left: 65px;
    top: -12px
}
.schedEvent h1 {
    position: absolute;
    left: 77px;
    font-size: 0.8em;
    top: 28px
    
}

.schedEvent .location {
    width: 25px;
    position: absolute;
    top: 33px
}
/*.ui-icon-myapp-list {
    background-image: url(http://swiftthemes.com/forums/images/icons/icon6.png) !important;
}*/





/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
	background:#333;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:black;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

#wrapper4 ul li img {
    position:relative;
    border: solid 1px black;
}

#wrapper4 ul li h1 {
    left: 85px
}

#wrapper4 a {
   width: 80px;
   left: 227px;
}

#wrapper4 .ui-btn-text {
    z-index: 0;
    margin-right: 0px;
    position: absolute;
    font-size: 12px;
    top: 6px;
    left: 0.1px;
    right: 3px;
    color: gray;
}